{% extends "layout.html" %}

{% block extra_stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/hoa/detail.css') }}"> 
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/hoa/style.css') }}">

{% endblock %}

{% block content %}
    <div class="Humans_content_post">
        <div class="Humans_container">
            <header>
                <div class="Humans_header_background">
                    <div class="Humans_background_inner">
                        <div class="Humans_background_logo">
                            <h3>HUMANS OF AJOU </h3>

                            <div class="Humans_Long_block"></div>
                            <p style="text-align:right">STORIES OF AJOU PEOPLE</p>
                        </div>
                    </div>
                </div>
            </header>

            <div class="Humans_transparent"></div>
            <!-- Content -->
            <!-- Button for Prev, Next Humans_detail Page -->
            <div class="Prev_detail">
                <span class="glyphicon glyphicon-chevron-left humans_glyphicon"></span>
            </div>
            <div class="Next_detail">
                <span class="glyphicon glyphicon-chevron-right humans_glyphicon"></span>
            </div>

            <div class="Detail_Container">
                <div class="Humans_detail">
                    <!-- humans picture area -->
                    <div class="Humans_detail_img_area">
                        <div class="Humans_detail_img">
                            <img class="Humans_detail_img" data-toggle="modal" data-target=".human-modal"
                                 src="{{ url_for('photo_get', blob_key=humans.photo) }}"/>
                             </div>
                    </div>
                    <!-- text1(interview) area -->
                    <div class="Humans_detail_text1_area">
                        {{ humans.text }}
                    </div>
                   
                </div>
                <!-- image modal -->
                <div class="modal fade human-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <img class="Detail_img_modal" src="{{ url_for('photo_get', blob_key=humans.photo) }}"/>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Humans-Detail Content -->
        </div>
    </div>
{% endblock %}